 
 

</head>
  <body>
   
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="#">eCookies</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link" href="/business/dashboard">Dashboard</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link" href="/business/mybusiness">My Negocio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/business/orders">Ordenes</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/business/categories">Categorias</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/business/products">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/business/logout">Logout</a>
        </li>
      </ul>
     
    </div>
</nav>